.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 30%;
  gap: 10px;
}
.gallery__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
}
.gallery__img {
  width: 320px;
}
.gallery__link {
  text-decoration: none;
  font-size: 13px;
}
.gallery__text {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: rgb(39, 39, 39);
  background-color: rgb(187, 187, 187);
  height: 40px;
}
