.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.searchform {
  display: flex;
  align-items: center;
  gap: 10px;
}
.searchform input {
  text-indent: 20%;
}
.searchform__button {
  width: 100px;
  height: 30px;
  color: brown;
  border-radius: 5px;
  font-weight: 700;
}
.searchform__input {
  width: 200px;
  height: 26px;
  border-radius: 5px;
}
